@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


/* Tailwind CSS */
.projects-container {
  @apply flex flex-wrap gap-4; /* Flexbox container with gap */
}

.project-item {
  @apply flex flex-col gap-4 mx-12 justify-between max-w-full my-24 w-[650px]; /* Flex items side by side with gap */
}

.project-image {
  @apply max-w-full; /* Ensure image fits within container */
}

.project-text {
  @apply flex-1; /* Allow text to take remaining space */
}
